.roles-parent {
    display: flex;
    flex-wrap: wrap;
}

.one-role {
    flex: 0 0 25%;
}
.id-none {
    display: none!important;
}
#map {
    height: 400px;
    width: 100%;
}
#search-in-table {
    display: inline-block;
    width: unset;
}
.search-sorting {
    cursor:pointer;
}
.search-sorting .sort-type-icon {
    color:  #2CABE3;
}

.tr-no-data {
    text-align: center;
}
.jstree-icon.jstree-themeicon {
    background-size: contain!important;
}
.bootstrap-tagsinput .badge {
    margin: 3px 2px;
    padding: 8px 12px;
    font-size: 16px;
}
